@layer theme, base, components, utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

.border-transpar {
	border-r: transparent !important;
}

pre {
	background-color: transparent !important;
}

.h1 {
	font-size: 1.5rem; /* equivalent to text-2xl */
	font-weight: 500; /* equivalent to font-medium */
}

.h2 {
	font-size: 1.25rem; /* equivalent to text-xl */
	font-weight: 500; /* equivalent to font-medium */
	font-family: var(--font-sans), sans-serif;
}
